GATEWAY_BIND_IP=0.0.0.0
GATEWAY_EXPOSE_PORT=18080
CORS_ALLOWED_ORIGIN=http://localhost:5173

NACOS_SERVER_ADDR=nacos:8848
NACOS_USERNAME=nacos
NACOS_PASSWORD=nacos
NACOS_DISCOVERY_ENABLED=true
NACOS_CONFIG_ENABLED=false
NACOS_NAMESPACE=
NACOS_DISCOVERY_GROUP=DEFAULT_GROUP
NACOS_CONFIG_GROUP=DEFAULT_GROUP

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=school_erp
POSTGRES_USER=school_erp
POSTGRES_PASSWORD=change-me

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=change-me

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=school_erp
RABBITMQ_PASSWORD=change-me
RABBITMQ_VHOST=school-erp
